@import url('//db.onlinewebfonts.com/c/8cdbb48678e4418f22a2f507c2b975bd?family=Blanka');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

@font-face {
    font-family: Blanka;
    src: url('./Blanka-Regular.otf');
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--fontFamily);
}

body {
    border: 5px solid gray;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px white;
    border-radius: 100px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    animation: colorChange;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transition: 1s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to right, rgb(240, 128, 128) 0%, rgb(129, 98, 119) 100%);
}

:root {
    --pinkCol: #db0a61;
    --dark: #2c2f36;
    --blueTran: #00a5ff96;
    --grayBcak: #f8f8f8;
    --fontFamily: 'Poppins', sans-serif;
}

#block-1 {
    background-color: var(--dark);
    z-index: -1;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo .head {
    z-index: -1;
    width: 10rem;
    font-family: Blanka;
    position: relative;
}

.logo .head h1:nth-child(2) {
    position: absolute;
    top: 0.79rem;
    left: 0.9rem;
    z-index: -1;
    float: left;
    text-transform: none;
}

.logo .head h1:nth-child(3) {
    text-align: right;
}

.logo .head span {
    color: var(--pinkCol);
    z-index: 1;
    font-weight: 900;
    font-size: 2.7rem;
}

.logo .sub-head {
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1px;
}


#block-2 {
    background-image: linear-gradient(to right, white 0%, white 40%, #f8f8f8 40%, #f8f8f8 100%);
}

#block-2 .block-add address {
    font-weight: 600;
    line-height: 20px;
}

#block-2 .block-add {
    margin: 1rem 3.8rem;
}

#main-section-1 {
    background-image: url('./assets/background-img.avif');
    width: 99.5vw;
    height: 46rem;
    background-size: cover;
}

#img-block-1 {
    background-color: var(--blueTran);
}

.head {
    margin-left: 10px;
}

.block-txt .head {
    color: white;
    display: flex;
    flex-direction: column;
}

.block-txt {
    margin: 5rem 5rem;
}


.block-txt .head div {
    background-color: white;
    margin-top: 1rem;
    padding: 0.3rem;
    width: 7rem;
}

.block-txt .body {
    margin-top: 1rem;
}

.block-txt .body h1 {
    font-size: 11rem;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.356);
}

.block-txt .body h3 {
    position: absolute;
    top: 5rem;
    left: 0.4rem;
    font-size: 5rem;
    color: white;
    font-weight: 800;
}

.block-txt .body h3 span {
    padding: 0.8rem 0.8rem;
    margin: 0px 20px;
    font-size: 0.1rem;
    background-color: var(--pinkCol);
}

#seconde-sec {
    display: flex;
    flex-direction: column;
}

#pink-sec {

    background-color: #e91d72a6;
    padding: 100px;
    height: 100vh;
}

#cards .card {
    width: 100%;
    margin: 0px 10px;
    border: none;
}

#cards .card img {
    width: 8em;
}

h6.card-subtitle {
    color: var(--pinkCol);
    font-size: 1.6rem;
}

h5.card-title {
    font-size: 2rem;
    font-weight: 800;
}

p.card-text {
    font-weight: 600;
}

#cards .card .card-body span {
    font-size: 5px;
    margin: 0px 10px;
    padding: 1px 10px;
    background-color: var(--pinkCol);
}

#cards .box:nth-child(1):before {
    content: '';
    position: relative;
    padding: 4rem 1px;
    top: 10rem;
    width: 2px;
    height: 2rem;
    border-radius: 100px;
    background-color: rgba(255, 255, 255, 0.479);
}

#cards .box:nth-child(2):before,
#cards .box:nth-child(3):before {
    content: '';
    position: relative;
    padding: 6rem 1px;
    top: 14rem;
    width: 2px;
    height: 2rem;
    border-radius: 100px;
    background-color: rgba(128, 128, 128, 0.479);
}

.About-us p {
    font-size: 1rem;
    font-style: italic;
    font-weight: 600;
}

p.card-text {
    text-align: justify;
    font-size: 1.2rem;
}

#boxofcontainerFluid {
    background-color: var(--grayBcak);
}


#section {
    margin: 0px 0vw;
    padding: 1vw 1vw;
}


#section1 .About-us {
    margin: 0px 10vw;
    padding: 1vw 1vw;
}

#white-box {
    padding: 10px;
    position: relative;
    bottom: 0px;
    background-color: var(--grayBcak);
}

#between {
    height: 100vh;
    padding: 16.16rem 0rem;
}

@media screen and (min-width: 2000px) {
    #between {
        height: 100vh;
        padding: 19.56rem 0rem;
    }

    #section {
        margin: 0px 20rem;
    }

    .logo .head {
        width: 17rem;
    }

    #main-section-1 {
        width: 100vw;
        height: 100vh;
    }

    .block-txt .head h3 {
        font-size: 5rem;
    }

    #block-2 {
        position: inherit;
    }

    div#block-3 {
        background: #80808024;
    }

    #block-2 .block-add h3,
    #block-2 .block-add h5 {
        margin: 10px 0px;
        font-size: 2rem;
    }

    #block-2 .block-add address {
        font-size: 2rem;
        line-height: 40px;
    }

    .logo .head span {
        z-index: 1;
        font-weight: 900;
        font-size: 5rem;
    }

    .logo .sub-head {
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1px;
    }

    .logo .head h1:nth-child(2) {
        position: absolute;
        top: 2.7rem;
        left: 1.1rem;
        z-index: -1;
        float: left;
        font-size: 5rem;
    }

    .logo .head h1:nth-child(3) {
        font-size: 5rem;
    }

    .block-txt .body h1 {
        font-size: 17rem;
    }

    .block-txt .body h3 {
        top: 7rem;
        font-size: 10rem;
    }

    .block-txt .body h3 span {
        padding: 0.4rem 0.4rem;
        margin: 0px 10px;
        font-size: 0rem;
        background-color: var(--pinkCol);
    }

    #About-content h2 {
        font-size: 3.4rem;
    }

    #cards .card img {
        width: 15em;
    }

    h5.card-title {
        font-size: 3rem;
    }

    h6.card-subtitle {
        font-size: 2.6rem;
    }

    p.card-text {
        font-size: 2rem;
    }

    .About-us p {
        font-size: 1.7rem;
    }

    #footer h4 {
        font-size: 3rem;
    }


    #cards .box:nth-child(2):before,
    #cards .box:nth-child(3):before {
        content: '';
        position: relative;
        padding: 10rem 2px;
        top: 20rem;
        width: 2px;
        height: 2rem;
        border-radius: 100px;
        background-color: rgba(128, 128, 128, 0.479);
    }

    #pink-sec {
        padding: 15rem;
    }
}

@media screen and (max-width: 1200px) {
    .block-txt .body h1 {
        font-size: 8rem;
    }

    #img-block-1 {
        background-color: var(--blueTran);
    }

    .block-txt .body h3 {
        top: 4rem;
        font-size: 4rem;
    }

    .block-txt .body h3 span {
        padding: 0.4rem 0.4rem;
        margin: 0px 10px;
        font-size: 0rem;
        background-color: var(--pinkCol);
    }


}

@media screen and (max-width: 998px) {

    #main-section-1 {
        width: 100vw;
        height: 40vh;
    }

    .About-us p {
        font-size: 0.8rem;
    }

    #img-block-1 {
        height: 100%;
    }

    #img-block-1 {
        background-color: var(--blueTran);
    }

    .block-txt {
        margin: 2rem 2rem;
    }

    .block-txt .body h1 {
        font-size: 6rem;
    }

    .block-txt .body h3 {
        top: 3rem;
        font-size: 3rem;
    }

    .block-txt .body h3 span {
        padding: 0.4rem 0.4rem;
        margin: 0px 10px;
        font-size: 0rem;
        background-color: var(--pinkCol);
    }
}

@media screen and (max-width: 768px) {

    #main-section-1 {
        width: 100vw;
        height: 60vh;
    }

    /*  Address of the header */
    #block-2 .block-add {
        margin: 2rem 1.8rem;
    }


    .block-txt {
        margin: 1rem 1rem;
    }

    .block-txt .body h1 {
        font-size: 5rem;
    }

    .block-txt .body h3 {
        top: 2.6rem;
        font-size: 2rem;
    }

    .block-txt .body h3 span {
        padding: 0.5rem 0.5rem;
        margin: 0px 10px;
        font-size: 0rem;
        background-color: var(--pinkCol);
    }

    #img-block-2 {
        display: none;
    }

    #pink-sec {
        display: none;
    }

    #cards .box:nth-child(1):before {
        content: '';
        position: relative;
        padding: 4rem 1px;
        top: 10rem;
        width: 2px;
        height: 2rem;
        border-radius: 100px;
        background-color: rgba(128, 128, 128, 0.479);
    }
}

@media screen and (max-width: 556px) {
    #main-section-1 {
        width: 97vw;
        height: 48vh;
    }

/* Address of the header */
#block-2 .block-add {
    margin: 2rem 0rem;
}

.block-txt .body h1 {
    font-size: 3.5rem;
}

.block-txt .body h3 {
    top: 1.6rem;
    font-size: 2rem;
}

.block-txt .body h3 span {
    padding: 0.2rem 0.2rem;
    margin: 0px 5px;
    font-size: 0rem;
    background-color: var(--pinkCol);
}

.About-us {
    margin: 0px 20px;
}
}

@media screen and (max-width: 396px) {
    #main-section-1 {
        width: 97vw;
        height: 50vh;
    }

    /* Address of the header */
    #block-2 .block-add {
        margin: 2rem 0rem;
    }

    #block-2 .block-add h3 {
        font-size: 1.4rem;
    }

    #block-2 .block-add h5 {
        font-size: 1rem;
    }

    .block-txt .body h1 {
        font-size: 3.6rem;
    }

    .block-txt .body h3 {
        top: 1.9rem;
        font-size: 1.5rem;
    }

    .block-txt .body h3 span {
        padding: 0.2rem 0.2rem;
        margin: 0px 5px;
        font-size: 0rem;
        background-color: var(--pinkCol);
    }

    .block-txt .head h1 {
        font-size: 1.7rem;
    }

    .block-txt .head {
        padding: 0.2rem;
    }


    .About-us {
        margin: 0px 20px;
    }

    .About-us h2 {
        font-size: 1.4rem;
    }

    h5.card-title {
        font-size: 1.5rem;
    }

    h6.card-subtitle {
        font-size: 1.3rem;
    }

    p.card-text {
        font-size: 1rem;
    }
}